$roboto: 'Roboto',
sans-serif;
;
$sizeTitulos: 4vw;
$sizeSubtitulos: 3vw;
$sizeTextos: 2vw;
$bgColorElixir: #0C3559;
$colorTitulos: white;
$colorTextos: white;
$heigthCompleto: 100vh;
$bgcolorTranslucido: 225,
255,
255,
07;
$bordeBlanco: 2px solid white;
$bordeRedondeado: 10px;
$imgHeigth: 40vw;
$heightFooter: 80vh;
$heigthIconos: 4vw;
$widthIconos: 4vw;